body {
background-color: #005508;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #0715da
color: white;
font-family: "Bai Jamjuree", sans-serif;
}